.configs {
    height: 500px;
}

.images {
    background: url('../../images/gondolas-real.png');
    height: 500px;
}

.images-back {
    height: 500px;
    filter: brightness(20%);
}

.cadastro {
    padding-top: 80px;
}